*{margin: 0; padding: 0; color: #fff;}
:root{
    --primary-text: #140908;
    --secondary-text: #fff;
    --background-color: #FFFFFF;
    --primary-color: #B87536;
    --primary-color-headerTransition: #B8753670;
    --secondary-color: #D2B394;
    --accent-color: #C6AF76;
    --invalid-color: #e9471f;
    --valid-color: #1fe951;
    --general-width: 80%;
    --primary-font: ;
    --secondary-font: ;
    --padding: 0.625rem;
    --border-radius: 8px;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var(--primary-color);
    width: auto;
    height: fit-content;
    padding: var(--padding);
    border-radius: var(--border-radius);
}
input, select, #signUp, #logIn{
    border: 0;
    border-radius: 8px;
    margin-block: 3%;
    padding: var(--padding);
    color: var(--primary-text);
}
#signUp, #logIn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: var(--accent-color);
}
label{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article, fieldset{
    width: 100%;
    margin-right: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border: 0;
}
article div{
    width: 100%;
}
select, option{
    color: var(--primary-text);
    border: 0;
}
#separator{
    height: 30px;
    width: 3px;
    background-color: var(--background-color);
    margin: 4px;
}
input:focus.valid{
    background-color: var(--valid-color);
}
.valid{
    border: 2px solid var(--valid-color);
}
input:focus.invalid{
    background-color: var(--invalid-color);
}
.invalid{
    border: 2px solid var(--invalid-color);
}
#logInForm{
    width: 20%;
    height: 40%;
    gap: 10px;
}