*{margin: 0; padding: 0; text-decoration: none; list-style: none;}
:root{
    --primary-text: #140908;
    --secondary-text: #fff;
    --background-color: #FFFFFF;
    --primary-color: #B87536;
    --primary-color-headerTransition: #B8753670;
    --primary-color-headerBlurr: #B8753670;
    --secondary-color: #D2B394;
    --accent-color: #C6AF76;
    --general-width: 80%;
    --primary-font: ;
    --secondary-font: ;
    --padding: 0.625rem;
}
a{
    color: var(--primary-text);
}
nav,
ul,
.carrousel-container,
#discounts{
    display: flex;
}
.logo{
    height: 70px;
}

header{
    position: fixed;
    display: flex;
    justify-content: center;
    padding: var(--padding);
    z-index: 9999;
    width: 100%;
    animation: blurring-popping;
    animation-timeline: scroll();
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    min-width: 250px;
    translate: -50%;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content ul {
    color: var(--primary-text);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown:hover .dropdown-content {display: block;}

nav{
    justify-content: space-between;
    align-items: center;
    width: var(--general-width);
    border-bottom: 2px solid var(--accent-color);
    animation: del-border;
    animation-timeline: scroll();
}

#separator{
    height: 70px;
}

ul{
    color: var(--primary-text);
    align-items: center;
}

li{
    margin-inline: 10px;
}
#search-bar{
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    border: 2px var(--accent-color) solid;
    border-radius: 8px;
    padding: 4px;
}
#search-bar>input{
    border: 0;
    margin: 0;
    padding-block: 8px;

}

li>button,
li>input,
li>img{
    border-radius: 8px;
}
li>button{
    border: 10px var(--accent-color) solid;

}
#register-button,
#login-button{
    padding: var(--padding);
    border: 2px var(--accent-color) solid;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carrousel-container{
    background-color: var(--primary-color);
    box-shadow: var(--accent-color) 10px 10px 8px ;
    border-radius: 8px;
    margin-block: 2%;
    justify-content: space-between;
    align-items: center;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -100px;
}
#promotions{
    width: var(--general-width);
}
#discounts,
#top-sellers{
    width: var(--general-width);
    flex-direction: column;
}
.carrousel-image{
    height: 400px;
    object-fit: cover;
}
.products-container{
    display: flex;
    overflow:auto;
    gap: 30px;
    margin-block: 2%;
    padding-block: 1%;
    padding-inline: 1%;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -50px;
}

.product-card{
    display: flex;
    flex-direction: column;
    color: var(--secondary-text);
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: black 2px 2px 8px ;
    transition: all 0.2s ease-in-out ;
}
.product-card>a img{
    object-fit: cover;
    width: 100%;
    height: auto;
}
.product-cart>img{
    object-fit: cover;
    width: 20%;
    height: 50px;
    margin: 0;
}
#popular-categories{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-block: 2%;
    width: var(--general-width);

}
#popular-categories>article{
    color: var(--secondary-text);
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: black 2px 2px 8px ;
    transition: all .2s ease-in-out ;
    animation: fade-out linear;
    
}
.product-card:hover, #popular-categories>article:hover{
    translate: -5px -5px;
    box-shadow: #00000080 7px 7px 8px ;
}

footer{
    background-color: var(--primary-color);
    margin-top: 2%;
    padding-block: var(--padding);
    display: flex;
    justify-content: center;
}
footer>div{
    width: var(--general-width);
    display: flex;
    justify-content: space-between;
}
#popular-categories>article>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes fade-out{
    to{opacity: 0;}
}
@keyframes del-border{
    0%{}
    50%, 100%{border: 0;}
}
@keyframes blurring-popping{
    0%{backdrop-filter: blur(10px);}
    50%, 100%{
        backdrop-filter: blur(10px);
        background-color: var(--primary-color);
        width: 95%;
        margin-block: 0.5%;
        margin-inline: 2%;
        border-radius: 8px;
    }
}