*{margin: 0; padding: 0; text-decoration: none; list-style: none;}
:root{
    --primary-text: #140908;
    --secondary-text: #fff;
    --background-color: rgba(208,208,208,255);
    --primary-color: rgba(70,197,122,255);
    --primary-color-headerTransition: #B8753670;
    --primary-color-headerBlurr: #B8753670;
    --secondary-color: #D2B394;
    --accent-color: #C6AF76;
    --general-width: 80%;
    --primary-font: ;
    --secondary-font: ;
    --padding: 0.625rem;
    --secondary-padding: 0.200rem;
}
body{
    max-width: 75%;
    margin-inline: auto;
    margin-block: 1%;
    background-color: var(--background-color);
}
h2{
    margin-top: 2%;
}
a{
    color: var(--primary-text);
}
nav,
ul,
.carrousel-container,
#discounts{
    display: flex;
}
.logo{
    height: 70px;
}


.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    min-width: 250px;
    translate: -50%;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content ul {
    color: var(--primary-text);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown:hover .dropdown-content {display: block;}

nav{
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #fff;
    border: 2px var(--primary-color) solid;
    padding: var(--padding);
}
nav>ul>li{
    padding: var(--padding);
}
ul{
    color: var(--primary-text);
    align-items: center;
}

#search-bar{
    display: flex;
    background-color: var(--primary-color);
    width: 500px;
    border-radius: 8px;
}

#finderResult{
    border: 0;
    margin: 0;
    background-color: var(--background-color);
    padding-block: var(--padding);
    width: 85%;
}
#finder{
    width: 100%;
}
#search{
    background-color: var(--primary-color);
    border: 0;
}


#register-button,
#login-button{
    padding: var(--padding);
    border: 2px var(--primary-color) solid;
    border-radius: 8px;
}

ul{
    color: var(--primary-text);
    align-items: center;
}

li{
    margin-inline: 10px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border: 2px var(--primary-color) solid;
    border-radius: 8px;
    box-shadow: black 2px 2px 8px ;
    transition: all 0.2s ease-in-out ;
}
#products{
    font-family: sans-serif, 'roboto';
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-block: 2%;
    gap: 10px;
}
.product-image{
    font-size: 12px !important;
}

.contenedor button {
    padding: 5px;
    margin-top: 25px;
    cursor: pointer;
    border: 2px #000000 solid;
    border-radius: 8px;
    background-color:#fff;
    transition: .4s ease-in;

}
.contenedor button:hover {
    background-color: rgb(0, 163, 14);
    transform: scale(105%);
}

li>button,
li>input,
li>img{
    border-radius: 8px;
}
li>button{
    background-color: var(--primary-color);
    padding: 10px;
    border: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carrousel-container{
    background-color: var(--primary-color);
    box-shadow: #969696 10px 10px 8px ;
    border-radius: 8px;
    margin-block: 2%;
    justify-content: space-between;
    align-items: center;
}
#promotions{
    width: 100%;
}
#discounts{
    width: 100%;
    flex-direction: column;
}
.carrousel-image{
    height: 400px;
    object-fit: cover;
}

#popular-categories{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-block: 2%;
    width: 100%;

}
#popular-categories>article{
    color: var(--secondary-text);
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: black 2px 2px 8px ;
    transition: all .2s ease-in-out ;
    animation: fade-out linear;
}
.product-card:hover, #popular-categories>article:hover{
    translate: -5px -5px;
    box-shadow: #00000080 7px 7px 8px ;
}

footer{
    background-color: var(--primary-color);
    border-radius: 8px;
    margin-top: 2%;
    padding-block: 45px;
    display: flex;
    justify-content: center;
}
footer>div{
    width: var(--general-width);
    display: flex;
    justify-content: space-between;
}
#popular-categories>article>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
